<section id="sertificate">
  <div class="overlay">
    <div class="container">
      <div class="row d-flex justify-content-center">
        <div class="col-12 text-center">
          <h2 class="d-inline">Certificate Gallery</h2>
          <div class="divider mx-auto"></div>
        </div>
        <div class="col-md-4 col-lg-3 col-6 mt-4">
          <div class="card-sertifikat p-1">
            <img class="w-100" src="../Assets/Sertificate/GDSC.png" alt="" />
          </div>
        </div>
        <div class="col-md-4 col-lg-3 col-6 mt-4">
          <div class="card-sertifikat p-1">
            <img
              class="w-100"
              src="../Assets/Sertificate/alibaba-big-data.png"
              alt=""
            />
          </div>
        </div>
        <div class="col-md-4 col-lg-3 col-6 mt-4">
          <div class="card-sertifikat p-1">
            <img
              class="w-100"
              src="../Assets/Sertificate/alibaba-career-ai-ml.png"
              alt=""
            />
          </div>
        </div>
        <div class="col-md-4 col-lg-3 col-6 mt-4">
          <div class="card-sertifikat p-1">
            <img
              class="w-100"
              src="../Assets/Sertificate/alibaba-gen-ai-consepts.png"
              alt=""
            />
          </div>
        </div>
        <div class="col-md-4 col-lg-3 col-6 mt-4">
          <div class="card-sertifikat p-1">
            <img
              class="w-100"
              src="../Assets/Sertificate/alibaba-gen-ai.png"
              alt=""
            />
          </div>
        </div>
        <div class="col-md-4 col-lg-3 col-6 mt-4">
          <div class="card-sertifikat p-1">
            <img
              class="w-100"
              src="../Assets/Sertificate/alibaba-service.png"
              alt=""
            />
          </div>
        </div>
        <div class="col-md-4 col-lg-3 col-6 mt-4">
          <div class="card-sertifikat p-1">
            <img class="w-100" src="../Assets/Sertificate/Oracle.png" alt="" />
          </div>
        </div>
        <div class="col-md-4 col-lg-3 col-6 mt-4">
          <div class="card-sertifikat p-1">
            <img
              class="w-100"
              src="../Assets/Sertificate/bestshowcase.png"
              alt=""
            />
          </div>
        </div>
        <div class="col-md-4 col-lg-3 col-6 mt-4">
          <div class="card-sertifikat p-1">
            <img
              class="w-100"
              src="../Assets/Sertificate/bestproject.png"
              alt=""
            />
          </div>
        </div>
        <div class="col-md-4 col-lg-3 col-6 mt-4">
          <div class="card-sertifikat p-1">
            <img
              class="w-100"
              src="../Assets/Sertificate/gdoc-unm.png"
              alt=""
            />
          </div>
        </div>
        <div class="col-md-4 col-lg-3 col-6 mt-4">
          <div class="card-sertifikat p-1">
            <img
              class="w-100"
              src="../Assets/Sertificate/invention.png"
              alt=""
            />
          </div>
        </div>
        <div class="col-12 link-in text-center">
          <a href="www.linkedin.com/in/abidino-nurkhiansyah">
            <i class="fa-brands fa-linkedin-in me-2"></i>
            See on Linkedin
          </a>
        </div>
      </div>
    </div>
  </div>
</section>
