<section id="education">
  <div class="container">
    <div class="row">
      <div class="col-lg-5 col-md-6">
        <h5 class="mb-md-2">This Is My</h5>
        <h1>Educational History That Makes Me Grow</h1>
        <h6>
          Education that helps me build character, improve skills, knowledge,
          insight and experience.
        </h6>
        <h6 class="mb-5">
          “Hang your ideals high in the sky! Dream as high as the sky. If you
          fall, you will fall among the stars."
        </h6>
        <figure>
          <figcaption class="blockquote-footer">
            <cite title="Source Title"
              >Ir. Soekarno Indonesia's 1st president</cite
            >
          </figcaption>
        </figure>
      </div>

      <div class="col-md-6 offset-lg-1 education-desc">
        <div class="education-item">
          <span>2023 - Now</span>
          <h3>Horizon University Indonesia</h3>
          <h5 class="mt-1">Informatics</h5>
          <p class="mt-2">GPA. 3.64/4.00</p>
        </div>

        <div class="education-item">
          <span>Jul - Nov 2025</span>
          <h3>BEKUP Create: Upskilling Bootcamp 2025</h3>
          <h5 class="mt-1">Multi-Platform App Developer (Flutter)</h5>
          <p class="mt-2">Final Grade 84.24</p>
        </div>
      </div>
    </div>
  </div>
</section>
