<section id="education">
  <div class="container">
    <div class="row">
      <div class="col-lg-5 col-md-6">
        <h5 class="mb-md-2">This Is My</h5>
        <h1>Educational History That Makes Me Grow</h1>
        <h6>
          Education that helps me build character, improve skills, knowledge,
          insight and experience.
        </h6>
        <h6 class="mb-5">
          “Hang your ideals high in the sky! Dream as high as the sky. If you
          fall, you will fall among the stars."
        </h6>
        <figure>
          <figcaption class="blockquote-footer">
            <cite title="Source Title"
              >Ir. Soekarno Indonesia's 1st president</cite
            >
          </figcaption>
        </figure>
      </div>

      <div class="col-md-6 offset-lg-1 education-desc">
        <div class="education-item">
          <span>2020 - Now</span>
          <h3>Horizon University Indonesia</h3>
          <h5 class="mb-1">Informatics</h5>
          <p>Best graduated student GPA. 3.75, Degree Amd.</p>
        </div>

        <div class="education-item">
          <span>2020-2023</span>
          <h3>SMK Negeri 3 Karawang</h3>
          <h5 class="mb-1">Electronics Engineering</h5>
          <p>The best student with a rank of 1</p>
        </div>
      </div>
    </div>
  </div>
</section>
