<footer>
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-6 col-12 mb-4">
        <h4 class="text-center text-md-start">Abidino Nurkhiansyah</h4>
        <span class="d-block text-center text-md-start mb-3 w-100"
          >Connect with us</span
        >
        <div
          class="social-icon d-flex justify-content-center justify-content-md-start mb-3"
        >
          <a
            href="https://instagram.com/abyy.n_"
            target="_blank"
            class="icon me-2 d-flex justify-content-center align-items-center"
            ><i class="fa-brands fa-instagram"></i
          ></a>
          <a
            href="https://discord.gg/abyy."
            target="_blank"
            class="icon me-2 d-flex justify-content-center align-items-center"
            ><i class="fa-brands fa-discord"></i
          ></a>
          <a
            href="https://behance.net/AbidinoNurkhiansyah"
            target="_blank"
            class="icon me-2 d-flex justify-content-center align-items-center"
            ><i class="fa-brands fa-behance"></i
          ></a>
          <a
            href="https://linkedin.com/in/AbidinoNurkhiansyah"
            target="_blank"
            class="icon me-2 d-flex justify-content-center align-items-center"
            ><i class="fa-brands fa-linkedin-in"></i
          ></a>
          <a
            href="https://github.com/AbidinoNurkhiansyah"
            target="_blank"
            class="icon d-flex justify-content-center align-items-center"
            ><i class="fa-brands fa-github"></i
          ></a>
        </div>
        <div class="text-center text-md-start">
          <span class="fs-6"
            >Copyright 2025, Made with
            <i class="fa-solid fa-heart text-danger"></i> by Abidino
            Nurkhiansyah</span
          >
        </div>
      </div>
      <div
        class="col-lg-4 col-md-6 col-12 d-flex flex-column align-items-center align-items-md-end"
      >
        <ul class="list-unstyled text-center text-md-end mb-4">
          <li><a href="#hero" class="active d-block mb-2">Home</a></li>
          <li><a href="#experience" class="d-block mb-2">Experience</a></li>
          <li><a href="#skills" class="d-block mb-2">Skills</a></li>
          <li><a href="#portofolio" class="d-block mb-2">Portfolio</a></li>
          <li><a href="#portofolio" class="d-block mb-2">Certificate</a></li>
        </ul>
      </div>
    </div>
  </div>
</footer>
