<footer>
  <div class="container">
    <div class="row">
      <div class="col-12 mb-4 text-center">
        <span class="d-block text-center text-md-start mb-3 w-100"
          >Connect with us</span
        >
        <div
          class="social-icon d-flex justify-content-center justify-content-md-start mb-3"
        >
          <a
            href="https://instagram.com/abyy.n_"
            target="_blank"
            class="icon me-2 d-flex justify-content-center align-items-center"
            ><i class="fa-brands fa-instagram"></i
          ></a>

          <a
            href="https://behance.net/AbidinoNurkhiansyah"
            target="_blank"
            class="icon me-2 d-flex justify-content-center align-items-center"
            ><i class="fa-brands fa-behance"></i
          ></a>
          <a
            href="https://linkedin.com/in/AbidinoNurkhiansyah"
            target="_blank"
            class="icon me-2 d-flex justify-content-center align-items-center"
            ><i class="fa-brands fa-linkedin-in"></i
          ></a>
          <a
            href="https://github.com/AbidinoNurkhiansyah"
            target="_blank"
            class="icon d-flex justify-content-center align-items-center"
            ><i class="fa-brands fa-github"></i
          ></a>
        </div>
        <div class="text-center text-md-start">
          <span class="fs-6"
            >Copyright 2025, Made with
            <i class="fa-solid fa-heart text-danger"></i> by Abidino
            Nurkhiansyah</span
          >
        </div>
      </div>
  </div>
</footer>
