<section id="hero" class="position-relative" style="z-index: 1">
  <div class="circle-hero position-absolute translate-middle-x">
    <img
      src="../Assets/img/img-hero.png"
      alt=""
      class="position-absolute start-50 translate-middle-x"
    />
  </div>
  <div class="container d-flex flex-column position-relative py-4">
    <div
      class="work-list-logo row justify-content-around position-absolute w-100 top-100 start-50 m-0"
    >
      <div
        class="year text-center position-absolute bottom-100 start-50 translate-middle"
      >
        <span>1 Years Experience in Flutter</span>
      </div>
    </div>

    <div class="row align-items-center flex-fill hero-title">
      <div class="col-lg-6 about">
        <h5 class="mb-2">Hello, I’m Abidino Nurkhiansyah.</h5>
        <h2>Mobile Dev Enthusiast</h2>
        <h6 class="mt-3">
          I'm from Indonesia, and I'm a strong focus on cross-platform mobile
          app development using Flutter for approximately one year. Possesses a
          solid understanding of UI/UX design principles and experience in
          building responsive and user-friendly applications.
        </h6>
        <a
          href="mailto:abidino.nurkhiansyah@gmail.com?subject=Job%20Opportunity&body=Hello%20Abidino,%20I%20would%20like%20to%20discuss..."
          class="button-lg"
          style="text-decoration: none; color: #ffffff"
        >
          <i class="fa-solid fa-envelope button-lg-icon"></i> Hire Me
        </a>
      </div>

      <div
        class="service offset-lg-3 offset-md-0 col-lg-3 col-md-6 ps-lg-5 pt-4 pt-lg-0"
      >
        <p class="service-title">Service</p>
        <span class="service-desc" style="color: #ffffff"
          >Lets build quality product in programing and design with my
          service.</span
        >
        <div class="social-icon">
          <a
            href="https://www.instagram.com/abyy.n_"
            target="_blank"
            class="icon"
            ><i
              class="fa-brands fa-instagram position-absolute top-50 start-50 translate-middle"
            ></i
          ></a>
          <a
            href="https://www.behance.net/abidinonurkhiansyah"
            target="_blank"
            class="icon"
            ><i
              class="fa-brands fa-behance position-absolute top-50 start-50 translate-middle"
            ></i
          ></a>
          <a
            href="https://www.linkedin.com/in/abidinonurkhiansyah"
            target="_blank"
            class="icon"
            ><i
              class="fa-brands fa-linkedin position-absolute top-50 start-50 translate-middle"
            ></i
          ></a>
          <a
            href="https://github.com/AbidinoNurkhiansyah"
            target="_blank"
            class="icon"
            ><i
              class="fa-brands fa-github position-absolute top-50 start-50 translate-middle"
            ></i
          ></a>
        </div>

        <a
          href="../assets/profile.pdf"
          download="CV_Abidino_Nurkhiansyah.pdf"
          class="resume"
          ><i class="fa-solid fa-file-arrow-down icon ms-1"></i>Download
          Resume</a
        >
      </div>
    </div>
  </div>
</section>
