<section class="pt-5" id="portofolio">
  <div class="container">
    <h4 class="text-start text-light">Mobile App Projects</h4>
    <div class="divider w-25"></div>
    <div class="slider">
      <div class="owl-carousel">
        <!-- eksplora start -->
        <a
          href="https://github.com/AbidinoNurkhiansyah/eksplora-app"
          target="_blank"
          rel="noopener noreferrer"
          style="text-decoration: none; color: inherit"
        >
          <div class="slider-card">
            <div class="d-flex justify-content-center align-items-center">
              <img src="../Assets/UI Porto/eksplora-app.png" alt="" />
            </div>
            <div class="d-flex flex-wrap gap-2 mt-3">
              <img
                src="https://img.shields.io/badge/Flutter-02569B?logo=flutter&logoColor=white"
                alt="Flutter"
                style="height: 20px; width: auto"
              />
              <img
                src="https://img.shields.io/badge/Dart-0175C2?logo=dart&logoColor=white"
                alt="Dart"
                style="height: 20px; width: auto"
              />
              <img
                src="https://img.shields.io/badge/Firebase-FFCA28?style=for-the-badge&logo=firebase&logoColor=black"
                alt="Firebase"
                style="height: 20px; width: auto"
              />

              <img
                src="https://img.shields.io/badge/OpenStreetMap-7EBC6F?logo=openstreetmap&logoColor=white"
                alt="OpenStreetMap"
                style="height: 20px; width: auto"
              />
              <img
                src="https://img.shields.io/badge/Cloudinary-3448C5?logo=cloudinary&logoColor=white"
                alt="Cloudinary"
                style="height: 20px; width: auto"
              />
            </div>

            <div class="d-flex justify-content-between align-items-center py-1">
              <p class="mt-3" style="width: 100%">
                Eksplora - Smart Tourism Assistant
              </p>
              <span class="mt-3 text-end">
                View <i class="fa-solid fa-arrow-right-long ms-1"></i
              ></span>
            </div></div
        ></a>
        <!-- eksplora end -->

        <!-- Nutrivision start -->
        <a
          href="https://github.com/AbidinoNurkhiansyah/Nutrivision_Food-Nutrition-Recognizer-app"
          target="_blank"
          rel="noopener noreferrer"
          style="text-decoration: none; color: inherit"
        >
          <div class="slider-card">
            <div class="d-flex justify-content-center align-items-center">
              <img src="../Assets/UI Porto/nutrivision-app.png" alt="" />
            </div>
            <div class="d-flex flex-wrap gap-2 mt-3">
              <img
                src="https://img.shields.io/badge/Flutter-02569B?logo=flutter&logoColor=white"
                alt="Flutter"
                style="height: 20px; width: auto"
              />
              <img
                src="https://img.shields.io/badge/Dart-0175C2?logo=dart&logoColor=white"
                alt="Dart"
                style="height: 20px; width: auto"
              />
              <img
                src="https://img.shields.io/badge/Firebase-FFCA28?style=for-the-badge&logo=firebase&logoColor=black"
                alt="Firebase"
                style="height: 20px; width: auto"
              />
              <img
                src="https://img.shields.io/badge/Gemini-1e1e1e?style=for-the-badge&logo=google&logoColor=white"
                alt="Gemini-AI"
                style="height: 20px; width: auto"
              />

              <img
                src="https://img.shields.io/badge/TensorFlow%20Lite-FF6F00?style=for-the-badge&logo=tensorflow&logoColor=white"
                alt="TensorFlow Lite"
                style="height: 20px; width: auto"
              />
            </div>
            <div class="d-flex justify-content-between align-items-center py-1">
              <p class="mt-2" style="width: 100%">
                Nutrivision - Food Nutrition Recognizer app
              </p>
              <span class="mt-2 text-end">
                View <i class="fa-solid fa-arrow-right-long ms-1"></i
              ></span>
            </div></div
        ></a>
        <!-- Nutrivision end -->

        <!-- simara app -->
        <a
          href="https://github.com/AbidinoNurkhiansyah/simara-mobile-app"
          target="_blank"
          rel="noopener noreferrer"
          style="text-decoration: none; color: inherit"
        >
          <div class="slider-card">
            <div class="d-flex justify-content-center align-items-center">
              <img src="../Assets/UI Porto/simara-app.png" alt="" />
            </div>
            <div class="d-flex flex-wrap gap-2 mt-3">
              <img
                src="https://img.shields.io/badge/Flutter-02569B?logo=flutter&logoColor=white"
                alt="Flutter"
                style="height: 20px; width: auto"
              />
              <img
                src="https://img.shields.io/badge/Dart-0175C2?logo=dart&logoColor=white"
                alt="Dart"
                style="height: 20px; width: auto"
              />

              <img
                src="https://img.shields.io/badge/PHP-777BB4?style=for-the-badge&logo=php&logoColor=white"
                alt="PHP"
                style="height: 20px; width: auto"
              />
              <img
                src="https://img.shields.io/badge/MySQL-4479A1?style=for-the-badge&logo=mysql&logoColor=white"
                alt="MySQL"
                style="height: 20px; width: auto"
              />
            </div>
            <div class="d-flex justify-content-between align-items-center py-1">
              <p class="mt-3" style="width: 100%">
                SiMara Mobile - booking (Pre-Marriage Course)
              </p>
              <span class="mt-3 text-end">
                View <i class="fa-solid fa-arrow-right-long ms-1"></i
              ></span>
            </div></div
        ></a>

        <div class="slider-card">
          <div class="d-flex justify-content-center align-items-center">
            <img src="../Assets/UI Porto/porto.png" alt="" />
          </div>
          <div class="d-flex justify-content-between align-items-center py-1">
            <h6 class="mt-3" style="width: 100%">Web Portofolio</h6>
            <span class="mt-3 text-end">
              View <i class="fa-solid fa-arrow-right-long ms-1"></i
            ></span>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
