<!-- Section Navbar -->
<nav id="navbar-example" class="navbar mynav navbar-expand-lg position-fixed">
  <div class="container-lg container-fluid">
    <a class="brand d-lg-none" href="#">
      <img src="../assets/icon/mylogo.svg" alt="Logo" width="20px" />
      Abyy.
    </a>

    <div class="collapse navbar-collapse" id="navbarNav">
      <div class="navbar-nav w-100 d-flex">
        <a class="nav-link nav-text active" aria-current="page" href="#hero"
          ><i class="fa-solid fa-house d-lg-none me-3"></i>Home</a
        >
        <a class="nav-link nav-text align-items-center" href="#experience"
          ><i class="fa-solid fa-user-tie d-lg-none me-3"></i>Experience</a
        >
        <a class="nav-link nav-text align-items-center" href="#service"
          ><i class="fa-solid fa-briefcase d-lg-none me-3"></i>Service</a
        >
        <a class="nav-link nav-text align-items-center" href="#portofolio"
          ><i class="fa-solid fa-newspaper d-lg-none me-3"></i>Projects</a
        >
        <a class="nav-link nav-text align-items-center" href="#education"
          ><i class="fa-solid fa-newspaper d-lg-none me-3"></i>Education</a
        >
        <a class="nav-link nav-text align-items-center" href="#certificate"
          ><i class="fa-solid fa-newspaper d-lg-none me-3"></i>Certificate</a
        >

        <div
          class="social-icon mt-auto d-flex justify-content-center d-lg-none"
        >
          <a href="#" class="icon"
            ><i
              class="fa-brands fa-instagram position-absolute top-50 start-50 translate-middle"
            ></i
          ></a>
          <a href="#" class="icon"
            ><i
              class="fa-brands fa-youtube position-absolute top-50 start-50 translate-middle"
            ></i
          ></a>
          <a href="#" class="icon"
            ><i
              class="fa-brands fa-dribbble position-absolute top-50 start-50 translate-middle"
            ></i
          ></a>
          <a href="#" class="icon"
            ><i
              class="fa-brands fa-linkedin-in position-absolute top-50 start-50 translate-middle"
            ></i
          ></a>
          <a href="#" class="icon"
            ><i
              class="fa-brands fa-github position-absolute top-50 start-50 translate-middle"
            ></i
          ></a>
        </div>
        <button
          class="button-lg text-center justify-content-center mb-2 d-lg-none"
        >
          Get In Touch
        </button>
      </div>
    </div>
    <a
      class="nav-link ms-auto social"
      href="https://linkedin.com/in/abidino-nurkhiansyah"
      ><i class="fa-brands fa-linkedin-in"></i
    ></a>
    <a class="nav-link social" href="https://github.com/AbidinoNurkhiansyah"
      ><i class="fa-brands fa-github"></i
    ></a>

    <button
      class="navbar-toggler p-0"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNav"
      aria-controls="navbarNav"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <label for="check">
        <input type="checkbox" id="check" />
        <span></span>
        <span></span>
        <span></span>
      </label>
    </button>
  </div>
</nav>
<!-- End of Navbar -->
