<section id="service">
  <div class="container">
    <div class="row">
      <div class="col-lg-5 col-md-6">
        <h5 class="mb-md-2">Let’s Colaborate</h5>
        <h1>What Can I Do For Your Needs</h1>
        <h6>
          it is easier to trust the work the experts because they are able to
          provide the best result with reliable quality.
        </h6>
        <h6 class="mb-5">
          “that digital transformation is a fundamental reality for businesses
          today.”
        </h6>
        <figure>
          <figcaption class="blockquote-footer">
            <cite title="Source Title"
              >Warren Buffett, Chairman and CEO of Berkshire Hathaway</cite
            >
          </figcaption>
        </figure>
      </div>

      <div class="col-md-6 offset-lg-1">
        <!-- <div class="row card-service d-flex align-items-center">
          <div class="col-4 p-2 text-center">
            <img src="../assets/Icon/Web.png" class="img-fluid" alt="" />
          </div>
          <div class="col-8">
            <h5>Web Development</h5>
            <p>
              Slicing design to programming code make your design is come true,
              Upgrade your ideas and business with technology.
            </p>
            <a href="">
              <div class="d-flex justify-content-between service-desc">
                <span>Let’s Begin</span
                ><i class="fa-solid fa-arrow-right-long"></i>
              </div>
            </a>
          </div>
        </div> -->
        <div class="row card-service d-flex align-items-center">
          <div class="col-4 p-2 text-center">
            <img src="../assets/Icon/mobile.png" class="img-fluid" alt="" />
          </div>
          <div class="col-8">
            <h5>Mobile App Development</h5>
            <p>
              mobile application development using Flutter, a modern framework
              from Google that allows the creation of Android and iOS
              applications with a single codebase.
            </p>
          </div>
        </div>
        <div class="row card-service d-flex align-items-center">
          <div class="col-4 p-2 text-center">
            <img src="../assets/Icon/UIUX.png" class="img-fluid" alt="" />
          </div>
          <div class="col-8">
            <h5>UI/UX Design</h5>
            <p>
              Let's Make Design your digital product for business or personal
              branding.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
