<section id="skill">
  <div class="container">
    <div class="row">
      <div class="col-lg-5 col-md-6">
        <h5 class="mb-md-2">Hard Skills</h5>
        <h1>Development Tools That I Master</h1>
        <h6>
          Software that helps me work, Software is just a tool that makes a
          product useful depending on ideas, innovation and creativity.
        </h6>
        <h6 class="mb-5">
          "People don't care about what you say, they care about what you
          build."
        </h6>
        <figure>
          <figcaption class="blockquote-footer">
            <cite title="Source Title">Mark Zuckerberg</cite>
          </figcaption>
        </figure>
      </div>
      <div
        class="col-md-6 offset-lg-1 flex-fill align-items-start d-flex justify-content-around flex-wrap"
      >
        <div
          class="skill-icon d-flex justify-content-center align-items-center"
        >
          <img src="../Assets/Icon/Bootstrap_logo 1.png" alt="" />
        </div>
        <div
          class="skill-icon d-flex justify-content-center align-items-center"
        >
          <img src="../Assets/Icon/html 1.png" alt="" />
        </div>
        <div
          class="skill-icon d-flex justify-content-center align-items-center"
        >
          <img src="../Assets/Icon/css.png" alt="" />
        </div>
        <div
          class="skill-icon d-flex justify-content-center align-items-center"
        >
          <img src="../Assets/Icon/javascript.png" alt="" />
        </div>
        <div
          class="skill-icon d-flex justify-content-center align-items-center"
        >
          <img src="../Assets/Icon/flutter.png" alt="" />
        </div>
        <div
          class="skill-icon d-flex justify-content-center align-items-center"
        >
          <img src="../Assets/Icon/git.png" alt="" />
        </div>
        <div
          class="skill-icon d-flex justify-content-center align-items-center"
        >
          <img src="../Assets/Icon/dart.svg" alt="" />
        </div>
        <div
          class="skill-icon d-flex justify-content-center align-items-center"
        >
          <img src="../Assets/Icon/ms office.png" alt="" />
        </div>
        <div
          class="skill-icon d-flex justify-content-center align-items-center"
        >
          <img src="../Assets/Icon/firebase.png" alt="" />
        </div>
        <div
          class="skill-icon d-flex justify-content-center align-items-center"
        >
          <img src="../Assets/Icon/figma.png" alt="" />
        </div>
        <div
          class="skill-icon d-flex justify-content-center align-items-center"
        >
          <img src="../Assets/Icon/supabase.svg" alt="" />
        </div>
        <div
          class="skill-icon d-flex justify-content-center align-items-center"
        >
          <img src="../Assets/Icon/mysql.png" alt="" />
        </div>
        <div
          class="skill-icon d-flex justify-content-center align-items-center"
        >
          <img src="../Assets/Icon/github.png" alt="" />
        </div>
        <div
          class="skill-icon d-flex justify-content-center align-items-center"
        >
          <img src="../Assets/Icon/android-studio.svg" alt="" />
        </div>

        <div
          class="skill-icon d-flex justify-content-center align-items-center"
        >
          <img src="../Assets/Icon/laravel.png" alt="" />
        </div>
        <div
          class="skill-icon d-flex justify-content-center align-items-center"
        >
          <img src="../Assets/Icon/npm.png" alt="" />
        </div>
        <div
          class="skill-icon d-flex justify-content-center align-items-center"
        >
          <img src="../Assets/Icon/nodejs.png" alt="" />
        </div>
        <div
          class="skill-icon d-flex justify-content-center align-items-center"
        >
          <img src="../Assets/Icon/vscode.svg" alt="" />
        </div>
      </div>
    </div>
  </div>
</section>
