<section id="experience" class="h-100">
  <div class="container overflow-hidden">
    <div class="row partwork" id="workexperience">
      <div
        class="col-md-4 d-flex justify-content-start p-0 m-0 position-relative logo-wraper"
      >
        <div class="bd ms-md-1 ms-4">
          <span></span>
          <span></span>
          <span></span>
          <span></span>
        </div>
        <div class="logo-left ms-md-1 ms-4">
          <div class="logo">
            <img
              src="../Assets/Corporation-logo/vincita.png"
              alt=""
              height="170px"
            />
          </div>
          <span
            class="experience-title position-absolute bottom-0 translate-middle"
            >Feb - Aug 2025</span
          >
        </div>
      </div>
      <div class="col-md-8 pt-5 pt-md-0 d-flex align-items-center">
        <div class="work">
          <h2 class="d-inline">UI/UX Designer</h2>
          <div class="divider"></div>
          <span class="work-descrition w-100"
            >Developing company profile website designs and digital campaign
            mobile apps for influencers with a UI/UX approach focused on user
            experience, brand consistency, and intuitive interaction.</span
          >

          <figure>
            <figcaption class="blockquote-footer">
              <cite title="Source Title"
                >Remote Gresik, 2025 VINCITA MANAGEMENT.</cite
              >
            </figcaption>
          </figure>
        </div>
      </div>
    </div>
    <!-- Aicha -->
    <div class="row partwork" id="workexperience">
      <div
        class="col-md-8 pt-5 pt-md-0 d-flex align-items-center order-md-1 order-2"
      >
        <div class="work">
          <h2 class="d-inline">Member | Active Participant</h2>
          <div class="divider"></div>
          <span class="work-descrition w-100"
            >Actively participated in workshops and hands-on sessions focused on
            Google technologies, Collaborated on team-based projects to
            strengthen problem-solving abilities and enhance technical
            implementation skills. Engaged in technical talks and community
            events to broaden knowledge of modern software development trends.
            Developed essential soft skills.</span
          >

          <figure>
            <figcaption class="blockquote-footer">
              <cite title="Source Title"
                >Google Developer Group On Campus (GDGoC) — Widyatama
                University</cite
              >
            </figcaption>
          </figure>
        </div>
      </div>

      <div
        class="col-md-4 d-flex justify-content-end p-0 m-0 position-relative logo-wraper order-md-2 order-1"
      >
        <div class="bd r me-md-1 me-4">
          <span></span>
          <span></span>
          <span></span>
          <span></span>
        </div>
        <div class="logo-left r me-md-1 me-4">
          <div class="logo y">
            <img src="../Assets/Corporation-logo/gdgoc.png" alt="" />
          </div>
          <span
            class="experience-title position-absolute bottom-0 translate-middle"
            >Nov 2025 - Now</span
          >
        </div>
      </div>
    </div>
  </div>
</section>
