<section class="">
  <div class="container">
    <h4 class="text-start text-light">Teach On Youtube</h4>
    <div class="divider w-25"></div>
    <div class="slider">
      <div class="owl-carousel">
        <div class="slider-card">
          <div class="d-flex justify-content-center align-items-center">
            <iframe
              width="560"
              height="210"
              src="https://www.youtube.com/embed/vGsTvfadI7U?si=qZmo8RRVbox2DaGP"
              title="YouTube video player"
              frameborder="0"
              allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
              allowfullscreen
            ></iframe>
          </div>
        </div>

        <div class="slider-card">
          <div class="d-flex justify-content-center align-items-center">
            <iframe
              width="560"
              height="210"
              src="https://www.youtube.com/embed/oOBFdum6wgc?si=Cjuo6GHc-uNAMfpK"
              title="YouTube video player"
              frameborder="0"
              allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
              referrerpolicy="strict-origin-when-cross-origin"
              allowfullscreen
            ></iframe>
          </div>
        </div>

        <div class="slider-card">
          <div class="d-flex justify-content-center align-items-center">
            <iframe
              width="560"
              height="210"
              src="https://www.youtube.com/embed/jrODfU1gnXk?si=hOBeYucgoPBIFZ44"
              title="YouTube video player"
              frameborder="0"
              allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
              referrerpolicy="strict-origin-when-cross-origin"
              allowfullscreen
            ></iframe>
          </div>
        </div>

        <div class="slider-card">
          <div class="d-flex justify-content-center align-items-center">
            <iframe
              width="560"
              height="210"
              src="https://www.youtube.com/embed/SRk0PScwKO4?si=bIoj5HM3falysuSF"
              title="YouTube video player"
              frameborder="0"
              allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
              referrerpolicy="strict-origin-when-cross-origin"
              allowfullscreen
            ></iframe>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
